@charset "utf-8";
/* CSS Document */

html  {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
  }
  
.top {
	text-align: center;
}

  body {
	margin: 0;
	font-family: Arial;
  }
  
  .column {
	width: 100%;
	padding: 10px;
  }
  
  .column img {
	opacity: 0.8; 
	cursor: pointer; 
  }
  
  .column img:hover {
	opacity: 1;
  }

  .row {
	  margin: 10%;
	  display: grid;
	  grid-template-rows: 3;
	  grid-template-columns: 1fr 1fr 1fr;
  }

  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .container {
	  margin: 10%;
	position: relative;
	display: none;
  }
  
  #imgtext {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: white;
	font-size: 20px;
  }
  
  .closebtn {
	position: absolute;
	top: 10px;
	right: 15px;
	color: white;
	font-size: 35px;
	cursor: pointer;
  }